@tailwind base;
@tailwind components;
@tailwind utilities;

.modeHoverDLD:hover {
  background: linear-gradient(45deg, #c57e8a1c, #c44e6218, #cc344d2c);
  border-radius: 30px;
  box-shadow: 2px -1px 12px #df2323cc;
}
.header-container {
  box-shadow: -1px 3px 13px #ececec;
}
/* left side bar */
.leftSideBar {
  height: 571px;
}
.logoutIco:hover {
  color: #1f1e1ec4;
}

.bubble::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-right-color: #878a8d;
  border-left: 0;
  margin-top: -9px;
  margin-left: -9px;
}
.tosterTitle {
  position: absolute;
  left: 45px;
}
.aboutMainContent {
  width: calc(100% - 93px);
  display: grid;
  align-items: center;
  justify-content: end;
  left: 48px;
  position: relative;
  top: 88px;
}
.illustratePic {
  width: 100%;
  cursor: pointer;
  display: grid;
  align-items: center;
  justify-content: center;
  top: 1em;
  right: 2em;
}
.illustratePic .ImageBox {
  width: 40%;
  position: absolute;
  top: 18em;
  right: 1em;
}
.contact-us-page {
  width: calc(100% - 70px);
}
.contectHover:hover {
  color: #141414;
  background: linear-gradient(45deg, #6366f1, #a855f7, #ec4899);
  border-color: #768efc !important;
}
